#cardImg {
  display: block;
  height: auto;
  width: 100%;
}

li {
  list-style-type: none;
}

.pokeCard {
  border-radius: 10px;
  width: 40vh;
  height: auto;
}

#pokemonCard {
  transition: all 0.25s linear;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

#card-container {
  position:absolute;
  z-index:11;
  margin-top:15vh;
}

.background1 {
    background-color: rgba(79, 79, 79, 0.714);
}

#carouselExampleControls {
  margin: 0 auto;
  width: 40vh;
}

#pokemonCard:hover {
  transform:scale(1.05);
}

#moreData {
  position:absolute;
  z-index:12;
  margin-top:15vh;
}

.topMargin {
  margin-top: 10vh;
}

#evos {
  position:absolute;
  z-index:12;
  margin-top:62vh;
}