#cardImg {
  display: block;
  height: auto;
  width: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

li {
  list-style-type: none;
}

.pokeCard {
  border-radius: 10px;
  width: 40vh;
  height: auto;
  position: fixed;
}

#pokemonCard {
  transition: all 0.25s linear;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.details {
  position: fixed;
  height: 500px;
  width: 800px;
  background-color: rgba(77, 77, 77, 0.605)
}

#card-container {
  position:fixed;
  z-index:11;
  margin-top: 25px;
  margin-left: 100px
}

.background {
  background-color: rgb(174, 174, 242);
}


#carouselExampleControls {
  width:300px;
  margin-left: 150px;
}

#backButton {
  margin-left: 50px;
  margin-bottom: 50px;
}

#pokemonCard:hover {
  transform:scale(1.05);
}

#moreData {
  position:absolute;
  z-index:12;
  margin-top:50px;
  margin-left: 700px;
}

.carousel-control-next {
  margin-top: 200px;
  margin-right: 25px;
}

.carousel-control-prev {
  margin-top: 200px;
  margin-right: 25px;
}

.cardCarousel {
  margin-left: 600px;
}
#evos {
  position:fixed;
  z-index:12;
  margin-top:500px;
  margin-left: 400px;
}